/* 
    Created on : 14 janv. 2018, 16:17:20
    Author     : latour4
    Description: Style of the OpenCharity website
*/

/*==========================
 General styles
===========================*/
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6{
    font-family: "Museo Sans";
    font-weight: 200;
}

section {
    padding: 16px 0;
}
/*===========================
OpenCharity Min frameWork
===========================*/

.oc-container {
    width: 100%;
    margin: auto;
}

@media screen and ( min-width: 425px ) {
    .oc-container {
        max-width: 403px;
    }
}

@media screen and ( min-width: 768px ) {
    .oc-container {
        max-width: 736px;
    }
}

@media screen and ( min-width: 1024px) {
    .oc-container {
        max-width: 992px;
    }
}

.oc-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.oc-col--3, .oc-col--4, .oc-col--6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}

.oc-col--6{
    width: calc(50% - 32px);
}

.oc-col--4 {
    width: calc( 33.333333333% - 32px);
}

.oc-col--3 {
    width: calc( 25% - 32px );
}
.oc-col--9{
    width: calc(75% - 32px);
}

/*===========================
OpenCharity components
===========================*/

/* --------- Header ---------- */
.oc-navigation {
    width: 100%;
    margin: 0;
    background-color: #fff;
    padding: 32px 0;
}

.oc-logo{
    width: 100%;
}

.oc-logo img{
    width: 70%;
}

.oc-main__menu{
    text-align: right;
}

.oc-menu__item{
    text-transform: uppercase;
    text-decoration: none;
    color: #565659;
    padding: 16px;
}

.oc-button {
    padding: 8px 24px;
    border: 2px solid #18c4d9;
    color: #18c4d9;
    font-size: 0.875em;
    text-transform: uppercase;
}


/* Open Charity Hero */
.oc-hero{
    margin: 0;
    padding-top: 32px;
    background-image: url(../Images/hero.jpg);
    background-position: center top;
    background-size: cover;
    height: 480px;
    text-align: center;
    color: #fff;
}

.oc-hero__title{
    font-size: 3.5em;
    text-transform: uppercase;
}

.oc-hero__description{
    margin: 0 auto;
    font-size: 18px;
    font-weight: lighter;
}

/* Open Charity events module style*/
.oc-event{
    background: #f1f2f5;
    padding: 16px;
    display: -ms-flex;
    display: flex;
}

.oc-event p{
    margin-top: 0;
}
.oc-event h3{
    margin-bottom: 0;
}

.oc-event__details{
    width: 70%
}

.oc-event__registration{
    text-align: right;
    width: 30%;
}

.oc-event__registration .oc-button{
    background-color: #18c4d9;
    color: #565659;
    text-transform: uppercase;
    font-size: .875em;
    color: #fff;
}

/* ---- Get involved section ------*/
.oc-section__header {
    padding: 16px;
    text-align: center;
    width: calc(100% - 32px);
    margin: 0 auto;
}

.oc-section__header h2{
    text-transform: uppercase;
    font-size: 1.8em;
    
}

.oc-section__header h2, .oc-card__title h3{
    font-weight: 400;
    color: #565659;
}

.oc-card {
    text-align: center;
    position: relative;
    width: 100%;
}

.oc-card__title{
    text-transform: uppercase;
}

.oc-card__image{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 16px 0;
}

.oc-card__image img{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oc-card__title{
    text-transform: uppercase;
    color: #64697f;
}

.oc-card__text{
    font-size: 0.9em;
    color: #64697f;
    margin-bottom: 32px;
}

.oc-card__action .oc-button{
    text-decoration: none;
}