/* 
    Created on : 14 janv. 2018, 16:17:20
    Author     : latour4
    Description: Style of the OpenCharity website
*/

/*==========================
 General styles
===========================*/
body{
    margin: 0;
    padding: 0;
}

/*===========================
OpenCharity Min frameWork
===========================*/

.oc-container {
    width: 100%;
    margin: auto;
}

@media screen and ( min-width: 425px ) {
    .oc-container {
        max-width: 403px;
    }
}

@media screen and ( min-width: 768px ) {
    .oc-container {
        max-width: 736px;
    }
}

@media screen and ( min-width: 1024px) {
    .oc-container {
        max-width: 992px;
    }
}

.oc-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.oc-col--3, .oc-col--4, .oc-col--6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}

.oc-col--6{
    width: calc(50% - 32px);
}

.oc-col--4 {
    width: calc( 33.333333333% - 32px);
}

.oc-col--3 {
    width: calc( 25% - 32px );
}

/*===========================
OpenCharity components
===========================*/

/* --------- Header ---------- */
.oc-navigation {
    width: 100%;
    margin: 0;
    background-color: #fff;
    padding: 32px 0;
    border-bottom: 1px solid black;
}